@font-face {
  font-family: pixel;
  src: url(./assets/PixelifySans-VariableFont_wght.ttf);
}
h1 {
  font-size: 3rem;
  font-family: pixel;
  font-weight: 900;
  text-transform: uppercase;
}
.hero {
  height: 100dvh;
  max-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
hr {
  width: 40%;
  border: none;
  border-top: 3px solid;
  text-align: center;
  height: 5px;
  overflow: visible;
  animation: extendWidth 1s linear;
}
hr::after {
  background: cadetblue;
  content: '§';
  padding: 0 4px;
  position: relative;
  top: -13px;
}
@keyframes extendWidth{
  from {width: 0%;}
  to {width: 40%;}
}
.hero-paragraph {
  margin: 1em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
.hero-button {
  position: absolute;
  margin-top: 30px;
}
.hero-button {
  position: relative;
  top: 30px;
  background: transparent;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 100%;
  padding: 10px;
  animation-name: bouncing;
  animation: bouncing 2s ease-in-out 2s;
  animation-iteration-count: infinite;
}
@keyframes bouncing {
  0% { top: 30px;}
  100% {top: 60px; opacity: 0.2;}
}
.image-section {
  min-height: 100dvh;
  background-color: antiquewhite;
  padding: 2em;
}
.h2-img {
  display: flex;
  justify-content: center;
}
.images {
  display: flex;
  gap: 2em;
}
.image {
  width: 200px;
}
img {
  width: 100%;
}
.link-section {
  min-height: 100dvh;
  padding: 2em;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity, 1));
}
.h2-link {
  display: flex;
  justify-content: center;
  color: whitesmoke;
}
a {
  text-decoration: none;
  color: whitesmoke;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 2em;
}
.flex {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1em;
  border-bottom: 1px dotted rgb(142, 142, 142);
  padding: 0 0 1em 0;
}
h3 {
  color: white;
  text-decoration: underline;
  padding-top: 1em;
}